sdk/
build/
lib/
util/android-studio/Moai/moai/src/main/libs/
util/android-studio/Moai/moai/src/main/obj/local/
util/android-studio/Moai/moai/src/main/jni/
bin/env-local.bat
util/moai.exe
bin/moai.exe
scripts/env-local.bat
env-local.sh
/bin/moai
/moaisdk-*
